

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


.title {
  text-align: center;

}

h1 {
  
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8f8f8f;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: #213547 1px 1px 1px 1px;
}
button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

p {

  font-size: 20px;
  padding: 10px;
  font-family: inherit;

}

main {

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  max-width: 1200px;
  min-height: 90;
}

button:focus{
  outline: none;
  border-color: #6b9cff;
  box-shadow: 0 0 0 3px rgba(107,156,255,.25);
}